<!DOCTYPE html>
<html>

<head>
	<title>Scelta regista</title>

	<link rel="stylesheet" th:href="@{/css/updateArtist.css}" />
</head>

<body>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>JS Bin</title>
</head>
<body>
<a href="/" id="go-back">
	<i id="home" class="fa fa-home"></i>
</a>

<div class="select-artist" >
	<h1> SELECTED DIRECTOR </h1>
	<div class="artists">
		<a class="artist" th:if="${movie.director}" >
			<img  th:src="@{${movie.director.pictureImagePath}}"/>
		</a>
	</div>
</div>

<div class="select-artist" >
	<h1>  SELECT A DIRECTOR </h1>
	<div class="artists">
		<a   class="artist" th:each="director: ${notMovieDirectors}" th:href=" '/admin' + '/' + 'setDirectorToMovie' +'/' + ${director.id} + '/' + ${movie.id}">
			<img  th:src="@{${director.pictureImagePath}}"/>
		</a>
	</div>
</div>
</body>
</html>
</body>

</html>