<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/newArtist.css}" />
	<link rel="stylesheet" th:href="@{/css/button.css}" />
	<link rel="stylesheet" th:href="@{/css/error.css}" />
	<link rel="stylesheet" th:href="@{/css/animation.css}" />
	<title>SiwMovieVendettaHZ</title>

</head>

<body>


<!-----error logs------->
<div id="errors" th:fragment="artistErrors">

	<div class="error" th:if="${#fields.hasErrors('artist')}"
		 th:errors="${artist}" >Campo Obbligatorio</div>



	<div class="error" th:if="${#fields.hasErrors('artist.dateOfBirth')}"
		 th:errors="${artist.dateOfBirth}" ></div>


	<div class="error" th:if="${fileUploadWrapper!=null and #fields.hasErrors('fileUploadWrapper.image')}"
		 th:errors="${fileUploadWrapper.image}" ></div>

</div>

<script th:src="@{/javascript/errorLogs.js}"></script>


<!------------>

<div th:replace="artist.html :: homeButton"></div>

<form id="artist" th:action="@{/admin/artist}" method="post" enctype="multipart/form-data">
	<div class="artist-name" th:field="${artist.name}" th:fragment="artistName">
		<h1>Artist Name</h1>
		<input th:field="${artist.name}" required></input>
	</div>

	<div class="artist-name"  th:fragment="artistSurname">
		<h1>Artist Surname</h1>
		<input th:field="${artist.surname}" required></input>
	</div>

	<div class="artist-date"  th:fragment="artistDateBirth">
		<h1> Date of Birth</h1>
		<input   type="date"   th:field="${artist.dateOfBirth}" required  />
	</div>
	<div class="artist-date"  th:fragment="artistDateDeath">
		<h1> Date of Death</h1>
		<input   type="date"    th:field="${artist.dateOfDeath}"  />
	</div>

	<div id="artist-picture"  th:fragment="artistPicture">
		<h1>Artist pircture</h1>
		<div id="picture" >
			<input id="file" type="file" name="image" accept="image/png, image/jpeg" />
			<img id="thumbnail"  />
			<i class="fa fa-plus" id="plus"></i>
		</div>
	</div>
	<button id="create">create</button>
</form>
<script>
	document.getElementById('plus').addEventListener('click', function() {
		document.getElementById('file').click();
	});
</script>
<script>

	var plusIcon = document.getElementById('plus');
	var thumbnail = document.getElementById('thumbnail');

	$(document).ready(function(){
		$('#file').change(function(){
			showImageThumbnail(this);
		});

	});

	function  showImageThumbnail(fileInput){


		file = fileInput.files[0];
		reader = new FileReader();

		reader.onload = function(e){
			$('#thumbnail').attr('src', e.target.result);
		};

		reader.readAsDataURL(file);

		thumbnail.style.border ="none";
	}


</script>
</body>
</html>

