<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>SiwMovieVendettaHZ</title>
	<link rel="stylesheet" th:href="@{/css/newMovie.css}" />
	<link rel="stylesheet" th:href="@{/css/button.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-----error logs----->
<div id="errors" th:fragment="movieErrors">

	<div class="error" th:if="${#fields.hasErrors('movie')}"
		 th:errors="${movie}" ></div>

	<div class="error" th:if="${#fields.hasErrors('movie.releaseDate')}"
		 th:errors="${movie.releaseDate}" ></div>

	<div class="error" th:if="${#fields.hasErrors('movie.plot')}"
		 th:errors="${movie.plot}" ></div>

	<div class="error" th:if="${fileUploadWrapper!=null and #fields.hasErrors('fileUploadWrapper.image')}"
		 th:errors="${fileUploadWrapper.image}" ></div>

	<div class="error" th:if="${fileUploadWrapper!=null and #fields.hasErrors('fileUploadWrapper.movieScenes')}"
		 th:errors="${fileUploadWrapper.movieScenes}" ></div>

	<div class="error" th:if="${ fileUploadError}"
		 th:text="${fileUploadError}"></div>


	<script th:src="@{/javascript/errorLogs.js}"></script>
</div>

<!---------------------->

<div th:replace="artist.html :: homeButton"></div>

<form id="movie" th:action="@{/admin/movie}" method="post" enctype="multipart/form-data">
	<div id="movie-name" th:fragment="movieTitle">
		<h1>Movie Title</h1>
		<input th:field="${movie.title}"/>
	</div>


	<div id="movie-releasedate" th:fragment="moiveReleaseDate">
		<h1>Release Date </h1>
		<input   type="date" required  th:field="${movie.releaseDate}" min="1900-01-01" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
	</div>

	<div id="movie-plot" th:fragment="moviePlot">
		<h1>Movie Plot </h1>
		<textarea    th:field="${movie.plot}" maxlength="200" required/></textarea>
	</div>

	<div id="movie-image" th:fragment="moviePoster">
		<h1>Movie Image</h1>
		<div id="picture" >
			<input id="file" type="file" name="image" accept="image/png, image/jpeg" />
			<img id="thumbnail" />
			<i class="fa fa-plus" id="plus"></i>
		</div>
	</div>


	<div id="movie-scenes" th:fragment="movieScenes">
		<h1>Movie Scenes</h1>
		<div class="scene" >
			<input class="sceneFile" type="file" id="scene1" name="movieScenes" required accept="image/png, image/jpeg" />
			<img id="thumbnail-scene1" />
			<i class="fa fa-plus" id="plus-1" ></i>
		</div>
		<div class="scene">
			<input class="sceneFile" type="file" id="scene2" name="movieScenes"  required accept="image/png, image/jpeg" />
			<img id="thumbnail-scene2" />
			<i class="fa fa-plus" id="plus-2" ></i>

		</div>

		<div class="scene">
			<input class="sceneFile" type="file" id="scene3" name="movieScenes"  required accept="image/png, image/jpeg" />
			<img id="thumbnail-scene3" />
			<i class="fa fa-plus" id="plus-3" ></i>
		</div>
	</div>


	<div id="select-director" th:if="${artists}" th:fragment="selectDirector">
		<h1>Choose the director </h1>
		<div id="directors">
			<div id="director" th:each="director: ${artists}">
				<img  th:src="@{'/display/image/' + ${director.picture.id}}"/>
				<input  name="directorsToAdd" th:value="${director.id}" class="checkbox" type="checkbox"/>
			</div>
		</div>

	</div>
	<div id="select-actors" th:if="${artists}" th:fragment="selectActors">
		<h1>Choose the actors</h1>

		<div id="actors">
			<div id="actor" th:each="actor: ${artists}" >
				<img th:src="@{'/display/image/' + ${actor.picture.id}}"/>
				<input  class="checkbox" type="checkbox"  name="actorsToAdd" th:value="${actor.id}" />
			</div>
		</div>
	</div>


	<button id="create">create</button>

</form>


<script src="/javascript/imagePreview.js"></script>

<script>
	$(document).ready(function(){
		$('input[name="directorsToAdd"]').click(function (){
			$('input[name="directorsToAdd"]').not(this).prop('checked',false);
		});
	});
</script>

<script>

	document.getElementById('plus-1').addEventListener('click', function() {


		document.getElementById('scene1').click();



	});


	document.getElementById('plus-2').addEventListener('click', function() {

		document.getElementById('scene2').click();



	});


	document.getElementById('plus-3') .addEventListener('click', function() {

		document.getElementById('scene3').click();



	});








	$(document).ready(function(){


		$('#scene1').change(function(){
			showImageThumbnail(this,1);
		});


		$("#scene2").change(function(){
			showImageThumbnail(this,2);
		});

		$("#scene3").change(function(){
			showImageThumbnail(this,3);
		});

	});

	function  showImageThumbnail(fileInput, n){

		var thumbnail = document.getElementById('thumbnail-scene'+ n);

		file = fileInput.files[0];
		reader = new FileReader();

		console.log(n);
		reader.onload = function(e){
			$('#thumbnail-scene' + n).attr('src', e.target.result);
		};

		reader.readAsDataURL(file);

		thumbnail.style.border ="none";
	}



</script>
<script>
	const slider = document.querySelector('#actors');
	let isDown = false;
	let startX;
	let scrollLeft;

	slider.addEventListener('mousedown', (e) => {
		isDown = true;
		slider.classList.add('active');
		startX = e.pageX - slider.offsetLeft;
		scrollLeft = slider.scrollLeft;
	});
	slider.addEventListener('mouseleave', () => {
		isDown = false;
		slider.classList.remove('active');
	});
	slider.addEventListener('mouseup', () => {
		isDown = false;
		slider.classList.remove('active');
	});
	slider.addEventListener('mousemove', (e) => {
		if(!isDown) return;
		e.preventDefault();
		const x = e.pageX - slider.offsetLeft;
		const walk = (x - startX) * 3; //scroll-fast
		slider.scrollLeft = scrollLeft - walk;
		console.log(walk);
	});
</script>

<script>
	const slider_2 = document.querySelector('#directors');


	slider_2.addEventListener('mousedown', (e) => {
		isDown = true;
		slider_2.classList.add('active');
		startX = e.pageX - slider.offsetLeft;
		scrollLeft = slider.scrollLeft;
	});
	slider_2.addEventListener('mouseleave', () => {
		isDown = false;
		slider_2.classList.remove('active');
	});
	slider_2.addEventListener('mouseup', () => {
		isDown = false;
		slider_2.classList.remove('active');
	});
	slider_2.addEventListener('mousemove', (e) => {
		if(!isDown) return;
		e.preventDefault();
		const x = e.pageX - slider_2.offsetLeft;
		const walk = (x - startX) * 3; //scroll-fast
		slider_2.scrollLeft = scrollLeft - walk;
		console.log(walk);
	});
</script>

</body>
</html>

