<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>SiwMovieVendettaHZ</title>
	<link rel="stylesheet" th:href="@{/css/indexAdmin.css}" />
	<link rel="stylesheet" th:href="@{/css/animation.css}" />
</head>
<body>
<h1 id="greeting">Welcome back Boss !</h1>

<div id="operations">

	<a class="operation" href="/admin/formNewArtist">
		<h1>Insert new Artist</h1>
		<div id="star-icon"class="fa fa-star" aria-hidden="true"></div>
	</a>
	<a class="operation" href="/admin/formNewMovie">
		<h1>Insert new movie</h1>
		<i id="movie-icon" class="fa fa-film" aria-hidden="true"></i>
	</a>

</div>


<div id="operations-2">

	<a class="operation">
		<h1>Update  an artist</h1>
		<i id="edit-icon" class="fa">&#xf044;</i>

	</a>
	<a href="/movie" class="operation">
		<h1>Movies</h1>
		<i id="movie-icon" class="fa fa-film" aria-hidden="true"></i>
	</a>

</div>
<script>

	 document.getElementById('operations').style.animation= "slide-in-from-left  1s ease-out forwards";
	 document.getElementById('operations-2').style.animation = "slide-in-anim  1s ease-out forwards";
	 document.getElementById('greeting').style.animation = "slide-in-down  0.5s ease forwards";

</script>
</body>

</html>