@keyframes shrink{  /* get small*/

    0%{
        transform : scale(1);

    }

    100%{
        transform : scale(0);



    }
}

@keyframes big_up{ /*get big*/

    0%{
        transform : scale(0);

    }

    100%{
        transform : scale(1);




    }
}
