@import url('https://fonts.cdnfonts.com/css/cera-round-pro');

*{

    box-sizing: border-box;
}



body{

    display:flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    background-color: #ccc;
    /*  background-size: 400% 400%;*/
    font-family: 'Cera Round Pro', sans-serif;
    font-size: 13px;
    min-height: 100%;
    margin-top: 0;
    margin:0;

    background-image: url("https://i.postimg.cc/mDYsHkJN/dark-background-abstract-background-network-3d-background-1920x1080-8324.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    text-shadow : 1px 2px 23px #fff;

    /*  animation: gradient 10s ease infinite;*/


}


#artist{

    width: 100%;

    margin-top: 5%;


    display:flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;


}


img{


    width: 10em;
    height: 10em;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;

    animation: spread 0.5s ease-in forwards;


}

h1{

    color: #fff;
    font-size: 3em;
    animation: spread 0.5s ease-in forwards;

}

#date{
    margin-top:1%;
    width:100%;
    border-top: solid #fff;
    border-bottom: solid #fff;

    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    font-style: italic;

    box-shadow : 1px 2px 23px #fff;

    animation: spread 0.5s ease-in forwards;




}


@keyframes spread{


    0%{
        transform: scale(4);
    }
    70%{
        transform: scale(0.8);
    }
    100%{

        transform: scale(1);
    }
}

#date div{

    color: #fff;
    font-weight: 505;
    font-size: 2em;
    margin-top:1%;
    margin-bottom: 1%;
    letter-spacing: 0.05em;

}


#starred-movie{

    margin-top:  2%;
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;

}


#directed-movie{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;

    margin-bottom: 2%;

}


#act-movies, #dir-movies{


    padding: 6%;
    display: inline-flex;
    justify-content: center;
    align-items : center;

    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: nowrap;



}

#starred-movie img,  #directed-movie img{

    height: 15em;
    border-radius: 10px;
    margin-top: 0;
    margin: 3%;

    flex: 0 0 auto;



}


#starred-movie h1,  #directed-movie h1{
    width:100%;
    text-align: center;
    border: solid;
    border-radius: 15px;
    padding: 2%;
    background: rgba(255,255,255,0.2);


    box-shadow : 1px 2px 23px #fff;


}

#starred-movie h1{
    padding: 4%;
}

#empty-list{

    color: #fff;
    font-size: 2em;

}


.upper-section{

    width:95%;
    padding: 1%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;


}




#delete{

    margin-left: 85%;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);

    padding: 2%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 16px red;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;



}
#delete:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}




#go-back {

    height:100%;
    border: none;
    background: none;
    box-shadow: none;

    color: #fff;
    font-size: 2.1em;
    text-shadow:  none;
    padding: 0.7%;
    text-align: center;
    border-radius: 20%;
    transition: 0.3s;

    text-shadow : 1px 2px 23px #fff;

    z-index: 3;
}

#go-back:hover{
    transform: scale(1.1);
    color:#000;
    background: #fff;

    box-shadow : 1px 2px 23px #fff;
}

#go-back:active{
    transform: scale(0.9);
}