@import url('https://fonts.cdnfonts.com/css/cera-round-pro');

* {
    box-sizing: border-box
}




body {
    font-family: Verdana, sans-serif;
    margin:0;

    display: flex;
    justify-content:  flex-start;
    align-items: center;
    flex-direction: column;


    font-family: 'Cera Round Pro', sans-serif;
    height: 100vh;


    color: #fff;

}


.mySlides {
    width: 65%;
    height:100%;
    display: none;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 50%;


    display: inline-flex;
    justify-content:  space-between;
    align-items: flex-start;


}

#movie-details{
    width: 30%;
    height:100%;



    display: flex;
    justify-content:  flex-start;
    align-items: flex-start;
    flex-direction: column;

    color: #fff;
    z-index: 3;



}

#movie-details h1{
    margin-top: -1%;
    margin-left: 4%;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9),
    2px 2px 4px rgba(255, 255, 255, 0.9);


}


.overlay{
    position: absolute;
    top:0;

    width: 100%;
    height: 51%;

    background: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3),rgba(255, 255, 255, 0.2));
    z-index: 2;





}


img{
    width:100%;
    height:102%;
    object-fit: cover;
    background-attachment: fixed;
    background-size: cover;





}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.9s ease;
    border-radius: 0 3px 3px 0;
    z-index:3;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}






#mid-nav{
    position: absolute;
    top:46%;

    width:100%;
    height:5%;

    z-index:2;

    background: linear-gradient(to top, rgba(0, 0, 0,1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.01));


    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: #fff;

    font-size:1.2em;

    z-index: 3;


}


#mid-nav div{

    margin: 5%;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 0.5%;



}



#mid-nav div:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 0.4s;

}



/***************************/


#content{
    width: 100%;
    height: 50%;
    background: #1B1B1B;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cast{
    margin-top: 2%;
    width: 100%;
    height: 60%;

    display: flex;

    flex-wrap: nowrap;
    overflow-x: hidden;

    justify-content: flex-start;
    align-items: center;

    overflow-y: hidden;



}

.cast:active{
    background: #1B1B1B;
}
.cast .actor{
    width:12%;
    height:90%;
    border-radius:15px;
    margin: 2%;


    flex: 0 0 auto;



    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;


    display: none;

}

#act{
    border-bottom : 5px solid green;
}


.cast .actor img{
    position: relative;
    width:85%;
    height:85%;
    border-radius:15px;
    box-shadow:0 1px 15px rgba(255,255,0,0.25);

}


.cast .director{

    width:12%;
    height:90%;
    border-radius: 15px;
    margin: 2%;


    flex: 0 0 auto;



    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: none;



}


.cast .director img{
    position: relative;
    width:85%;
    height:85%;
    border-radius:15px;
    box-shadow:0 1px 15px rgba(255,255,0,0.25);

}

a{
    text-decoration: none;
}


#remove{
    border: solid;
    color: #fff;
    width: 50%;
    height: 10%;

    text-align: center;

    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);

    box-shadow: 0 1px 7px 0 rgba(255,255,0,1);


    font-size: 12px;
    font-weight: bold;
    padding: 2%;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;

    background-size: 300% 200%;


    transition: all .4s ease-in-out;
    box-shadow: 0 1px 7px 0 #3CF0C5;
}


#remove:hover{

    box-shadow: 0 4px 15px 0 red;
    background-position: 100% 0;
    transition: all .4s ease-in-out;

}


#remove:active{
    transform: scale(0.90);
}



#update-actor, #update-director,#add-review{
    margin-left: 70%;

    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    box-shadow: 0 1px 7px 0 #EDDE5D;
}

#update-actor,#update-director:hover,#add-review{

    box-shadow: 0 4px 15px 0 #EDDE5D;

}


#update-director,#add-review{
    display: none;
}


.unselectable {
    pointer-events: none;
}

.selectable {
    pointer-events: auto;
}
/**********************/

#plot{
    width:100%;
    height:100%;
    margin-left: 6%;

    font-size: 1.3em;
    letter-spacing:0.05em;
    line-height: 1.5;
    text-align: justify;

}






a{
    color: #fff;
    background: linear-gradient(-45deg, #3CF0C5,#338AFF, #338AFF, #3CF0C5);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;

    background-size: 300% 200%;


    transition: all .4s ease-in-out;
    box-shadow: 0 1px 7px 0 #3CF0C5;
}

a:active{
    transform: scale(0.90);
}

a:hover{
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 #3CF0C5;
}



/********************************/

#go-back {
    border: none;
    background: none;
    box-shadow: none;

    color: #fff;
    font-size: 1.5em;
    margin-top: 2%;
    margin-right: 92%;
    margin-bottom: 2%;
    text-shadow:  none;
    padding: 0.7%;

    border-radius: 20%;
    transition: 0.3s;

    text-shadow : 1px 2px 23px #fff;
}


#go-back:hover{
    transform: scale(1.1);
    color:#000;
    background: #fff;

    box-shadow : 1px 2px 23px #fff;
}

#go-back:active{
    transform: scale(0.9);
}


/*********************/
#reviews{

    width:100%;
    min-height:60%;

    display:none;
    justify-content:flex-start;
    align-items: flex-start;

    padding-top:2%;
    padding-right:2%;
    padding-bottom:2%;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;



}
#reviews:active{
    background: #1B1B1B;
}

.rating{

    width:100%;
    min-height: 100%;


    box-shadow: 1px 3px 4px #fff;

    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    margin-bottom: 0.5%;
    margin-left: 2%;
    border-radius: 15px;

    word-wrap:break-word;

}

.top-section{

    width:100%;
    height: 50%;
    margin-top: 1%;


    display:inline-flex;
    justify-content:flex-start;
    align-items: center;
}

.top-section img {

    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: solid;
    margin-left: 3%;
    margin-right: 2%;

    object-fit: cover;
    background-size: cover;

}


.author{
    font-size: 1.5em;
}

.stars{
    position:relative;
    margin-left: 15%;
    display: inline-flex;
    justify-content: center;
    align-items: center;


}

.star{
    font-size: 1.5em;
    margin: 10%;
}

.star:before{

    content:'\2605';

}

.comment{
    width: 100%;
    height: 4em;

    padding: 3%;
    font-size: 1.1em;
    overflow-y: scroll;
    overflow-wrap: break-word;

    margin-bottom: 2%;
    box-shadow:inset  0px 2px;

}

.comment::-webkit-scrollbar {
    width: 0em;
    background-color: #f1f1f1;
}



.review-title{

    font-size:1.4em;
    width:80%;

    margin-left: 3%;
    text-shadow: 1px 2px 20px;
}






/***********/

:root{
    --percent: calc(4.5/5 *103%);
}
#average{
    position: absolute;
    top: 55%;
    left: 3%;

    display: none;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 6%;


    word-spacing: 0.5em;

    text-shadow: 1px 2px 23px #fff;

}


#average h1{

    font-size: 1.5em;





}
#average-rating {
    position: relative;
    margin-left: 3%;
    margin-top: -3%;

    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 25px;

}



#average-rating::before {

    content: '\2605 \00a0\2605 \00a0\2605 \00a0\2605 \00a0\2605';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0.2);
    background: linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.9) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;


    text-shadow: 1px 2px 23px #fff;
}

#average div{

    margin-left: 32%;
    font-size : 1.1em;
    border: 2px solid;
    border-radius: 15px;
    padding: 1%;
    background: green;

    box-shadow: 1px 2px 23px green;
}
/*********************/
.deleteReview{
    margin-left: 80%;
    padding: 0.7%;
    font-size:0.7em;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
    margin-top: 2%;

}

.rate-container{

    margin-top: 1.5%;
    margin-left: 2%;

    flex: 0 0 auto;


    width:35%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*******************/
.release{
    position: absolute;
    top:46%;
    width: 25%;
    left:1%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    text-shadow: 1px 2px 20px;
    z-index: 3;
}

.release h1{
    font-size: 1.3em;
    margin: 2%;
}
