<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/artist.css}" />
    <link rel="stylesheet" th:href="@{/css/animation.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SiwMovieVendettaHZ</title>
</head>
<body>
<div class="upper-section">
<a href="/" id="go-back">
    <i id="home" class="fa fa-home"></i>
</a>

<a id="delete" th:if="${role}" th:href="'/deleteArtist' + '/' + ${artist.id}">
    delete
</a>
</div>
<div id="artist">
    <img th:src="@{'/display/image/' + ${artist.picture.id}}"/>
    <h1 th:text=" ${artist.name} + ' ' + ${artist.surname}"> Robery Downey Jr</h1>

    <div id="date">
        <div th:text="'Birth: ' + ${artist.dateOfBirth}">Birth: 10/12/1967</div>
        <div th:if="${artist.dateOfDeath}" th:text="'Death: ' +  ${artist.dateOfDeath}">Death: still alive </div>
        <div th:unless="${artist.dateOfDeath}"  >Death: still alive </div>
    </div>

    <div  th:if="${!artist.starredMovies.isEmpty()}" id="starred-movie">
        <h1>Movies</h1>
        <div  id="act-movies">
            <img  th:each="starredMovie : ${artist.starredMovies}"  th:src="@{'/display/image/' + ${starredMovie.image.id}}"/>
        </div>
    </div>

    <div th:if="${!artist.directedMovies.isEmpty()}" id="directed-movie">
        <h1>Directed Movies</h1>
        <div id="dir-movies">
            <img    th:each="directedMovie: ${artist.directedMovies}"  th:src="@{'/display/image/' + ${directedMovie.image.id}}" />

        </div>
    </div>
</div>
<script>
    const slider = document.querySelector('#dir-movies');
    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
        isDown = true;
        slider.classList.add('active');
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
        if(!isDown) return;
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3; //scroll-fast
        slider.scrollLeft = scrollLeft - walk;
        console.log(walk);
    });
</script>


<script>
    const slider_2 = document.querySelector('#act-movies');

    slider.addEventListener('mousedown', (e) => {
        isDown = true;
        slider_2.classList.add('active');
        startX = e.pageX - slider_2.offsetLeft;
        scrollLeft = slider_2.scrollLeft;
    });
    slider_2.addEventListener('mouseleave', () => {
        isDown = false;
        slider_2.classList.remove('active');
    });
    slider_2.addEventListener('mouseup', () => {
        isDown = false;
        slider_2.classList.remove('active');
    });
    slider_2.addEventListener('mousemove', (e) => {
        if(!isDown) return;
        e.preventDefault();
        const x = e.pageX - slider_2.offsetLeft;
        const walk = (x - startX) * 3; //scroll-fast
        slider_2.scrollLeft = scrollLeft - walk;
        console.log(walk);
    });
</script>
</body>
</html>