<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" th:href="@{/css/movie.css}" />
	<link rel="stylesheet" th:href="@{/css/home.css}" />
	<link rel="stylesheet" th:href="@{/css/animation.css}" />
	<link rel="stylesheet" th:href="@{/css/deleted-warn.css}" />


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div th:replace="artist.html :: homeButton"></div>

<div th:if="${artists==null}">Non ci sono film nel sistema</div>

<div id="wrapper">
	<div id="luce"></div>
	<div id="light"></div>
</div>

<div id="movies"  th:each="artist : ${artists}">
	<div class="tape-left">

		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>

	</div>

	<div class="center">
		<div class="top-padding"></div>
		<div class="upper-bound"></div>
		<a  th:href="'/artist' + '/' + ${artist.id}" class="movie">
			<img  class="movie-image"  th:src="@{'/display/image/' + ${artist.picture.id}}">
		</a>
		<div class="lower-bound">
		</div>
		<a  th:text="${role} ? 'UPDATE' : ''"  class="lower-padding" th:href="'/updateArtist' + '/' + ${artist.id}">
			add a review
		</a>
	</div>
	<div class="tape-right">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
</div>
<!-----deleted-warn-->
<div id="deleted-warn" th:if="${artistDeleted}">
	The artists has been successfully deleted
</div>
<script th:src="@{/javascript/warnings}"></script>
<!---------------------------------------------------------->
</body>
</html>