<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/artist.css}" />
    <title>JS Bin</title>
</head>
<body>
<div id="artist">
    <img th:src="@{${artist.pictureImagePath}}"/>
    <h1 th:text=" ${artist.name} + ' ' + ${artist.surname}"> Robery Downey Jr</h1>

    <div id="date">
        <div th:text="'Birth: ' + ${artist.dateOfBirth}">Birth: 10/12/1967</div>
        <div th:if="${artist.dateOfDeath}" th:text="'Death: ' +  ${artist.dateOfDeath}">Death: still alive </div>
        <div th:unless="${artist.dateOfDeath}"  >Death: still alive </div>
    </div>

    <div  th:if="${!artist.starredMovies.isEmpty()}" id="starred-movie">
        <h1>Movies</h1>
        <div th:each="sarredMovie : ${artist.starredMovies}">
            <img th:src="${starredMovie.image}"/>
        </div>
    </div>

    <div th:if="${!artist.directedMovies.isEmpty()}" id="directed-movie">
        <h1> Directed Movies </h1>
        <div th:each="directedMovie: ${artist.directedMovies}">
            <img  th:src="${directedMovie.image}" />
            <img/>
            <img/>
        </div>
    </div>
</div>
</body>
</html>