<!DOCTYPE html>
<html>

<head>
	<title>SiwMovieVendettaHZ</title>
	<link rel="stylesheet" th:href="@{/css/movies.css}" />
	<link rel="stylesheet" th:href="@{/css/home.css}" />
	<link rel="stylesheet" th:href="@{/css/animation.css}" />
	<link rel="stylesheet" th:href="@{/css/deleted-warn.css}" />


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div th:if="${artists==null || artists.isEmpty()}" style="position: absolute; top:45%;  font-size:4em; color: #fff; font-weight:bold; text-shadow: 1px 2px 4px grey">No Artists</div>

<div th:replace="artist.html :: homeButton"></div>


<div id="wrapper">
	<div id="luce"></div>
	<div id="light"></div>
</div>

<div id="movies"  th:each="artist : ${artists}">
	<div class="tape-left">

		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>

	</div>

	<div class="center">
		<div class="top-padding"></div>
		<div class="upper-bound"></div>
		<a  th:href="'/artist' + '/' + ${artist.id}" class="movie">
			<img  class="movie-image"  th:src="@{'/display/image/' + ${artist.picture.id}}">
		</a>
		<div class="lower-bound">
		</div>
		<a  th:text="${role} ? 'UPDATE' : ''"  class="lower-padding" th:href="'/updateArtist' + '/' + ${artist.id}">
			add a review
		</a>
	</div>
	<div class="tape-right">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
</div>
<!-----deleted-warn-->
<div id="event-warn" th:if="${artistDeleted}">
	The artists has been successfully deleted
	<script th:src="@{/javascript/warnings.js}"></script>
</div>
<!---------------------------------------------------------->
</body>
</html>