<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovieVendettaHZ
	</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>

<body>


<div id="sign-up"   th:if="${(userForm != null and credentialsForm !=null) }" th:fragment="registerForm">
	<div class="close-2" >&times;</div>
	<form  id="form" method="POST"  th:action="@{/register}" >
		<h1>Sign Up</h1>
		<div class="social-container">
			<a href="/oauth2/authorization/facebook" class="social" id="faceb"><i class="fa fa-facebook"></i></a>
			<a href="/oauth2/authorization/google" class="social" id="goog"><i class="fa fa-google"></i></a>
			<a href="/oauth2/authorization/github" class="social"  id="github"><i class="fa fa-github"></i></a>
		</div>

		<div class="input-container" id="id-username">
			<i class="fa fa-user icon"></i>
			<input type="text" id="username" placeholder="username" onkeydown="validation('username')" required th:field="${credentialsForm.username}"/>
			<div class="check" id="check-username"><i class="fa fa-check"></i></div>
			<div class="times" id="times-username"><i class="fa fa-times"></i></div>
		</div>

		<span id="username-valid"></span>

		<div class="input-container" id="id-password">
			<i class="fa fa-key icon"></i>
			<input type="password" id="password" placeholder="password" required onkeydown="validation('password')"   th:field="${credentialsForm.password}"/>
			<div class="check" id="check-password"><i class="fa fa-check"></i></div>
			<div class="times" id="times-password"><i class="fa fa-times"></i></div>
		</div>
		<span id="password-valid"></span>


		<div class="input-container"  id="id-firstname">
			<i class="fa fa-user icon"></i>
			<input type="text"  id="firstname" placeholder="first name" required  onkeydown="validation('firstname')" th:field="${userForm.name}"/>
			<div class="check" id="check-firstname"><i class="fa fa-check"></i></div>
			<div class="times" id="times-firstname"><i class="fa fa-times"></i></div>
		</div>
		<span id="firstname-valid"></span>


		<div class="input-container"   id="id-lastname">

			<i class="fa fa-user icon"></i>
			<input type="text" id="lastname" placeholder="last name" required  onkeydown="validation('lastname')" th:field="${userForm.surname}"/>
			<div class="check" id="check-lastname"><i class="fa fa-check"></i></div>
			<div class="times" id="times-lastname"><i class="fa fa-times"></i></div>
		</div>
		<span id="lastname-valid"></span>


		<div class="bottom">
			<span>Already have an account?</span>
			<a onclick="log_in()">Sign in</a>
			<button>Sign Up</button>
		</div>
	</form>
</div>
</body>

</html>