<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<title>JS Bin</title>
<link rel="stylesheet" th:href="@{/css/login.css}" />
<link rel="stylesheet" th:href="@{/css/animation.css}"/>
<link rel="stylesheet" th:href="@{/css/index.css}" />
<link rel="stylesheet" th:href="@{/css/button.css}" />
<link rel="stylesheet" th:href="@{/css/sideNav.css}" />
<link rel="stylesheet" th:href="@{/css/filterMenu.css}" />
<link rel="stylesheet" th:href="@{/css/error.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script
			src="https://code.jquery.com/jquery-1.12.4.js"
			integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" media="screen"
		  href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css"/>

</head>
<body>

<!--registration erros>
<div id="errors">
	<div class="error" th:if="${#fields.hasErrors('credentialsForm.username')}"
		 th:errors="${credentialsForm.username}" ></div>

	<div class="error" th:if="${#fields.hasErrors('credentialsForm.password')}"
		 th:errors="${credentialsForm.password}" ></div>

	<div class="error"  th:if="${#fields.hasErrors('userForm.name')}"
		 th:errors="${userForm.name}" ></div>

	<div class="error"  th:if="${#fields.hasErrors('userForm.surname')}"
		 th:errors="${userForm.surname}" ></div>
</div>
<-!------>
<script>
	var error_element = document.getElementById('errors');

	error_element.addEventListener('animationend', () => {

		setTimeout( function(){
			error_element.style.animation="slide-out-up 1s ease-out forwards";
		},2000);


		setTimeout( function(){
			error_element.innerHTML="";
		},2600);
	});

</script>
<!----->


<div class="nav-container">

	<div class="nav">

		<img th:if="${user}" onclick="openSideNav()" id="image-user"  th:src="@{'/display/image/' + ${user.picture.id}}"/>
		<a href="/"><h1>HOME</h1></a>
		<a href="/movie"><h1>MOVIES</h1></a>


		<a  href="/artist"><h1>ARTISTS</h1></a>
		<a th:if="${user}" href="/logout" id="log-out"><h1>LOG OUT</h1></a>
		<a id="login" th:unless="${user}" ><h1>LOGIN</h1></a>


	</div>

	<div id="cover">
		<div class="parall"></div>
		<div class="parall"></div>
		<div class="parall"></div>

	</div>
</div>

<!------FILTER----->
<div id="filter">

	<div id="options">
		<a class="option" href="/newReleases"> <h1>New Releases </h1></a>


		<a class="option" href="/highestScore"> <h1>Highiest Score</h1></a>


		<a class="option" href="/mostReviewed"><h1>Most Reviewed</h1></a>

	</div>

	<h1 id="close-filter">filter</h1>
</div>
<!------>
<div class="new-releases" th:if="${newMovies!=null and highestScoreMovies==null && mostReviewedMovies==null}">

	<h1>New Release Movies </h1>
	<div class="content">

		<a class="release"  th:each="movie: ${newMovies}"><img class="release" th:src="@{'/display/image/' + ${movie.poster.id}}"/></a>

	</div>
</div>


	<div class="new-releases" th:if="${highestScoreMovies}">

		<h1> The Highest Scores </h1>
		<div class="content">

			<a class="release"  th:each="object: ${highestScoreMovies}"><img class="release" th:src="@{'/display/image/' + ${object.movie.poster.id}}"/>
				<div class="rate">
				<h1 th:text="${object.avgRating}"></h1>
				<h1  class="num-reviews" th:text="${object.reviewCount + ' reviews'}"></h1>
				</div>
			</a>

		</div>
	</div>

<div class="new-releases" th:if="${mostReviewedMovies}">

			<h1>The Most Reviewed </h1>
			<div class="content">

				<a class="release"  th:each="object: ${mostReviewedMovies}">

					<img class="release" th:src="@{'/display/image/' + ${object.movie.poster.id}}"/>
					<div class="rate">
					<h1 th:text="${object.avgRating}"></h1>
					<h1  class="num-reviews" th:text="${object.reviewCount + ' reviews'}"></h1>
					</div>
				</a>

			</div>

</div>

<!----LOGIN AND REGISTRATION--->

<div id="sign-in">
	<div class="close" >&times;</div>
	<form  th:action="@{/login}" method='post'>
		<h1>Sign In</h1>
		<div class="social-container">
			<a href="/oauth2/authorization/facebook" class="social" id="facebook"><i class="fa fa-facebook"></i></a>
			<a href="/oauth2/authorization/google" class="social" id="google"><i class="fa fa-google"></i></a>
			<a href="/oauth2/authorization/github" class="social" id="github" ><i class="fa fa-github"></i></a>
			<a href="https://www.linkedin.com/developers/tools/oauth/redirect" class="social" id="linkedin"><i class="fa fa-linkedin"></i></a>
		</div>
		<div class="input-container">
			<i class="fa fa-user icon"></i>
			<input type="text" name="username" placeholder="username" required="">

		</div>

		<div class="input-container">
			<i class="fa fa-key icon"></i>
			<input type="password" name="password" placeholder="password" required="">
		</div>

		<button>Sign In</button>

		<div class="register-now">
			<span>Not a memeber?</span>
			<a onclick="register()">Register now</a>
		</div>

	</form>

</div>

<div id="sign-up"   th:if="${(userForm != null and credentialsForm !=null) }">
	<div class="close-2" >&times;</div>
	<form  id="form" method="POST"  th:action="@{/register}" >
		<h1>Sign Up</h1>
		<div class="social-container">
			<a href="/oauth2/authorization/facebook" class="social" id="faceb"><i class="fa fa-facebook"></i></a>
			<a href="/oauth2/authorization/google" class="social" id="goog"><i class="fa fa-google"></i></a>
			<a href="/oauth2/authorization/github" class="social"  id="github"><i class="fa fa-github"></i></a>
			<a href="https://www.linkedin.com/uas/oauth2/authorization?" class="social" id="link"><i class="fa fa-linkedin"></i></a>
		</div>

		<div class="input-container" id="id-username">
			<i class="fa fa-user icon"></i>
			<input type="text" id="username" placeholder="username" onkeydown="validation('username')" required th:field="${credentialsForm.username}"/>
			<div class="check" id="check-username"><i class="fa fa-check"></i></div>
			<div class="times" id="times-username"><i class="fa fa-times"></i></div>
		</div>

		<span id="username-valid"></span>

		<div class="input-container" id="id-password">
			<i class="fa fa-key icon"></i>
			<input type="password" id="password" placeholder="password" required onkeydown="validation('password')"   th:field="${credentialsForm.password}"/>
			<div class="check" id="check-password"><i class="fa fa-check"></i></div>
			<div class="times" id="times-password"><i class="fa fa-times"></i></div>
		</div>
		<span id="password-valid"></span>


		<div class="input-container"  id="id-firstname">
			<i class="fa fa-user icon"></i>
			<input type="text"  id="firstname" placeholder="first name" required  onkeydown="validation('firstname')" th:field="${userForm.name}"/>
			<div class="check" id="check-firstname"><i class="fa fa-check"></i></div>
			<div class="times" id="times-firstname"><i class="fa fa-times"></i></div>
		</div>
		<span id="firstname-valid"></span>


		<div class="input-container"   id="id-lastname">

			<i class="fa fa-user icon"></i>
			<input type="text" id="lastname" placeholder="last name" required  onkeydown="validation('lastname')" th:field="${userForm.surname}"/>
			<div class="check" id="check-lastname"><i class="fa fa-check"></i></div>
			<div class="times" id="times-lastname"><i class="fa fa-times"></i></div>
		</div>
		<span id="lastname-valid"></span>


		<div class="bottom">
			<span>Already have an account?</span>
			<a onclick="log_in()">Sign in</a>
			<button>Sign Up</button>
		</div>
	</form>
</div>


<!---------SIDE NAV------>
<div  id="side_nav" class="side-nav">
	<div onclick="closeSideNav()">&times;</div>
	<img th:if="${user}"   th:src="@{'/display/image/' + ${user.picture.id}}" />
	<a href="/userReviews">Reviews</a>
	<a href="/logout"> Log out</a>
</div>

<!--------SEARCH------>

<form id="search" th:action="@{/searchMovies}" method="post">
	<i class="fa fa-search"  id="icon" aria-hidden="true"></i>
	<input  id="movie-title" name="movieTitle"/>
	<input type="submit" hidden />
</form>

<script >
	$(document).ready(function() {
		$('#movie-title').autocomplete({
			source : 'http://localhost:8080/search'
		});
	});
</script>
<script>

	var search = document.getElementById('search');

	var icon = document.getElementById('icon');

	search.style.width = "0%";


	index =0;
	icon.addEventListener('click', () => {

		if(search.style.width == "0%"){

			search.style.animation ="wide-up 0.3s ease-in forwards";
			search.style.width = "30%";


		}
		else{
			search.style.animation ="wide-down 0.4s ease-in forwards";
			search.style.width = "0%";

		}

	});


</script>
<!----->
<script>


	var login = document.getElementById('login');
	var sign_in = document.getElementById('sign-in');

	var sign_up = document.getElementById('sign-up');

	var close = document.querySelector('.close');
	var close_2 = document.querySelector('.close-2');

	login.addEventListener('click',()=>{
		sign_in.style.display = " flex";
		sign_in.style.animation ="none";
		sign_up.style.animation ="none";
		login.style.pointerEvents="none";



	});


	function register(){

		sign_in.style.animation = " shrink 0.5s ease-out";

		setTimeout( function(){
			sign_in.style.display= "none";}, 400);



		sign_up.style.display= "flex";
		sign_up.style.animation = " big_up 0.5s ease-out";

	}

	function log_in(){

		sign_up.style.animation = " shrink 0.5s ease-out";

		setTimeout( function(){
			sign_up.style.display= "none";}, 400);



		sign_in.style.display= "flex";
		sign_in.style.animation = " big_up 0.5s ease-out";

	}

	close.addEventListener('click',()=>{

		sign_in.style.display= "none";
		login.style.pointerEvents="auto";


	});

	close_2.addEventListener('click',()=>{


		sign_up.style.display= "none";
		login.style.pointerEvents="auto";

	});

</script>

<!-------------->
<script>

	function validation(stringa){
		var form = document.getElementById('form');
		var variable = document.getElementById(stringa);
		var variable_valid = document.getElementById(stringa + '-valid');

		var check = document.getElementById('check-'+ stringa);
		var times = document.getElementById('times-' + stringa);

		var container = document.getElementById('id-' + stringa);




		variable_valid.style.fontSize ="9px";
		variable_valid.style.fontStyle ="italic";
		variable_valid.style.fontWeight ="300";


		var pattern;

		switch(stringa){

			case 'username': pattern = /.{4,20}/; break;
			case 'password': pattern = /.{6,20}/; break;
			case 'firstname': pattern = /.{1,100}/; break;
			case 'lastname': pattern = /.{1,100}/; break;

		}


		if(variable.value.match(pattern)){
			form.classList.add("valid");
			form.classList.remove("invalid");

			check.style.display = "block";
			times.style.display ="none";
			container.style.boxShadow="0 1px 7px 0 rgba(124, 252, 0)";

			switch(stringa){
				case 'username':variable_valid.innerHTML = "Your username is valid!"; break;
				case 'password': variable_valid.innerHTML = "Your password is valid!";break;
				case 'firstname':variable_valid.innerHTML = "Your firstname is valid!"; break;
				case 'lastname':variable_valid.innerHTML = "Your lastname is valid!";break;
			}
			variable_valid.style.color= "#00ff00";



		}else{
			form.classList.add("invalid");
			form.classList.remove("valid");

			check.style.display = "none";
			times.style.display ="block";

			container.style.boxShadow="0 1px 7px 0 red";


			switch(stringa){
				case 'username':variable_valid.innerHTML = "Your username must be between 4 and 20 characters long!"; break;

				case 'password': variable_valid.innerHTML = "Your password must be between 6 and 20 characters long!"; break;
				case 'firstname':variable_valid.innerHTML = "Your firstname must be between 2 and 100 characters long!"; break;
				case 'lastname':variable_valid.innerHTML = "Your lastname must be between 2 and 100 characters long!"; break;
			}
			variable_valid.style.color = "#ff0000";

			setTimeout( function(){
				variable_valid.innerHTML = "";},3000);


		}


	}

</script>
<script>
	const slider = document.querySelector('.content');
	let isDown = false;
	let startX;
	let scrollLeft;

	slider.addEventListener('mousedown', (e) => {
		isDown = true;
		slider.classList.add('active');
		startX = e.pageX - slider.offsetLeft;
		scrollLeft = slider.scrollLeft;
	});
	slider.addEventListener('mouseleave', () => {
		isDown = false;
		slider.classList.remove('active');
	});
	slider.addEventListener('mouseup', () => {
		isDown = false;
		slider.classList.remove('active');
	});
	slider.addEventListener('mousemove', (e) => {
		if(!isDown) return;
		e.preventDefault();
		const x = e.pageX - slider.offsetLeft;
		const walk = (x - startX) * 3; //scroll-fast
		slider.scrollLeft = scrollLeft - walk;
		console.log(walk);
	});
</script>
<script>

	var side_nav = document.getElementById('side_nav');
	var image_user = document.getElementById('image-user');
	function openSideNav(){



		side_nav.style.width="14%";
		side_nav.style.height="100%";
		side_nav.style.top="0";
		image_user.style.visibility = "hidden";

	}

	function closeSideNav(){


		side_nav.style.width="0";
		side_nav.style.height="0";
		side_nav.style.top="-10%";
		image_user.style.visibility = "visible";


	}
</script>

<script>
    var index = 0;

	var cover = document.getElementById('cover');

	var nav = document.getElementsByClassName('nav');

	var releases = document.getElementsByClassName('release');


	cover.style.animation = "slide-in-anim " + (1) + "s ease-out forwards";


	for(i=0; i<nav.length;i++) {
		nav[i].style.animation = "slide-in-down " + (0.8) + "s ease-out forwards";
	}

	for(i=0; i<releases.length;i++) {
		releases[i].style.animation = "slide-in-anim " + (0.6 + index) + "s ease-out forwards";

		index = index + 0.3;
	}




</script>


<script>

	var close_filter = document.getElementById('close-filter');
	var options = document.getElementById('options');


	close_filter.addEventListener('click', () => {

		if(close_filter.innerHTML == 'filter'){
			options.style.animation ="open 0.3s ease-out forwards";
			close_filter.innerHTML = "close";
			search.style.display= "none";
		}

		else if(close_filter.innerHTML == 'close'){
			options.style.animation ="shrink 0.2s ease-out forwards";
			close_filter.innerHTML = "filter";
			search.style.display= "inline-flex";
		}




	});

</script>



</body>
</html>