<!DOCTYPE html>
<html>

<head>
    <title>Film</title>
    <link rel="stylesheet" th:href="@{/css/movie.css}" />
</head>

<body>

<div id="wrapper">
    <div id="luce"></div>
    <div id="light"></div>
</div>

<div id="movie" >
    <div class="tape-left">

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

    </div>

    <div class="center">
        <div class="top-padding"></div>
        <div class="upper-bound"></div>
        <div class="movie">
            <img  class="movie-image" th:src="@{${movie.getImagePath}}">
        </div>
        <div class="lower-bound">
        </div>
        <div class="lower-padding"></div>
    </div>
    <div class="tape-right">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
</div>
</body>
</html>