<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" th:href="@{/css/movie.css}" />
</head>

<body>

	<div th:if="${movies==null || movies.isEmpty()}">Non ci sono film nel sistema</div>

	<div id="wrapper">
		<div id="luce"></div>
		<div id="light"></div>
	</div>

	<div id="post"  th:each="movie : ${movies}">
		<div class="tape-left">

			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>

		</div>

		<div class="center">
			<div class="top-padding"></div>
			<div class="upper-bound"></div>
			<div class="movie">
				<img  class="movie-image" th:src=${movie.urlImage}>
			</div>
			<div class="lower-bound">
			</div>
			<div class="lower-padding"></div>
		</div>
		<div class="tape-right">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	</div>
	<script>
		const slider = document.querySelector('.actors');
		let isDown = false;
		let startX;
		let scrollLeft;

		slider.addEventListener('mousedown', (e) => {
			isDown = true;
			slider.classList.add('active');
			startX = e.pageX - slider.offsetLeft;
			scrollLeft = slider.scrollLeft;
		});
		slider.addEventListener('mouseleave', () => {
			isDown = false;
			slider.classList.remove('active');
		});
		slider.addEventListener('mouseup', () => {
			isDown = false;
			slider.classList.remove('active');
		});
		slider.addEventListener('mousemove', (e) => {
			if(!isDown) return;
			e.preventDefault();
			const x = e.pageX - slider.offsetLeft;
			const walk = (x - startX) * 3; //scroll-fast
			slider.scrollLeft = scrollLeft - walk;
			console.log(walk);
		});
	</script>
</body>
</html>