<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" th:href="@{/css/movie.css}" />
	<link rel="stylesheet" th:href="@{/css/home.css}" />
	<link rel="stylesheet" th:href="@{/css/animation.css}" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<a href="/" id="go-back">
	<i id="home" class="fa fa-home"></i>
</a>

	<div th:if="${movies==null || movies.isEmpty()}">Non ci sono film nel sistema</div>

	<div id="wrapper">
		<div id="luce"></div>
		<div id="light"></div>
	</div>

	<div id="movies"  th:each="movie : ${movies}">
		<div class="tape-left">

			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>

		</div>

		<div class="center">
			<div class="top-padding"></div>
			<div class="upper-bound"></div>
			<a  th:href="'/movie' + '/' + ${movie.id}" class="movie">
				<img  class="movie-image" th:src="@{'/display/image/' + ${movie.image.id}}">
			</a>
			<div class="lower-bound">
			</div>
			<a  th:text="${role!=null  or user==null  or  (#lists.contains(reviewedMovies, movie))} ? '' : 'ADD A REVIEW'"  class="lower-padding" th:href="'/addReview' + '/' + ${movie.id}">
				add a review
			</a>
		</div>
		<div class="tape-right">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	</div>

<script>

</script>
</body>
</html>