<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
    <link rel="stylesheet" th:href="@{/css/movies.css}" />
    <link rel="stylesheet" th:href="@{/css/animation.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>



<div class="slideshow-container">

    <div class="overlay" ></div>

    <div id="movie-details">

        <a href="/" id="go-back">
            <i id="home" class="fa fa-home"></i>
        </a>

        <h1 th:text="${movie.title}">Iron Man</h1>
        <div id="plot">

            Dopo essere sopravvissuto ad un attacco inaspettato in territorio nemico, l'industriale Tony Stark costruisce un'armatura ad alta tecnologia e giura di proteggere il mondo nei panni di Iron Man.

        </div>
    </div>
    <div class="prova">
    </div>

    <div class="mySlides fade" th:each="scene : ${movie.scenes}">
        <img th:src="@{${movie.getScenePath(scene.id)}}"/>

    </div>


</div>
<div id="mid-nav">

    <div id="act">cast</div>
    <div id="dir">Director</div>
    <div id="rev">Reviews</div>

</div>


<div id="content">

    <a th:href="'/admin' + '/' + 'addDirector' + '/' + ${movie.id}" id="update-director" >update </a>
    <a th:href="'/admin' + '/' + 'updateActors' + '/' + ${movie.id}" id="update-actor" >update </a>
    <a th:href="'/addReview' + '/' + ${movie.id}" id="add-review" >add review </a>

    <div class="cast">


        <div class="actor" th:each=" actor : ${movie.actors}">
            <img  th:src="@{${actor.getPictureImagePath}}"/>
            <a id="remove" th:href="'/admin' + '/' + 'removeActorFromMovie'+ '/' + ${actor.id}  +'/' + ${movie.id}"
            >remove</a>
        </div>



        <div class="director" th:if="${movie.director}">
            <img  th:src="@{${movie.director.getPictureImagePath}}"/>
            <a id="remove" th:href="'/removeDirector' + '/' + ${movie.id}" >remove</a>
        </div>

        <div class="director" th:unless="${movie.director}">
        </div>




        <div id="reviews">

            <div class="rating" th:each="review: ${movie.reviews}">

                <div class="top-section">
                    <img th:src="@{${review.author.getPictureImagePath}}"/>
                    <h1 class="author" th:text="${review.author.userName}">Haowen Zheng</h1>
                    <div class="stars" th:value="${review.rating}">
                        <div th:if="${review.rating >= 1}" style="color: gold" class="star"></div>
                        <div th:if="${review.rating < 1}"   class="star"></div>

                        <div th:if="${review.rating >= 2}" style="color: gold" class="star"></div>
                        <div th:if="${review.rating < 2}"   class="star"></div>

                        <div th:if="${review.rating >= 3}" style="color: gold" class="star"></div>
                        <div th:if="${review.rating < 3}"   class="star"></div>

                        <div th:if="${review.rating >= 4}" style="color: gold" class="star"></div>
                        <div th:if="${review.rating < 4}"   class="star"></div>

                        <div th:if="${review.rating >= 5}" style="color: gold" class="star"></div>
                        <div th:if="${review.rating < 5}"   class="star"></div>

                    </div>


                </div>

                <div class="comment" th:text="${review.comment}">
                    Il film è bellissimo!
                </div>
            </div>


        </div>
    </div>

</div>

<script>
    const slider = document.querySelector('.cast');
    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
        isDown = true;
        slider.classList.add('active');
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
        if(!isDown) return;
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3; //scroll-fast
        slider.scrollLeft = scrollLeft - walk;
        console.log(walk);
    });
</script>
<script>


    setInterval(function () { plusSlides(1)}, 5000);


    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
</script>

<script>

    var  dir =  document.getElementById('dir');
    var director = document.querySelector('.director');
    let actors = document.getElementsByClassName("actor");
    var cast = document.querySelector('.cast');

    var act = document.getElementById('act');

    var rev = document.getElementById('rev');


    var update_actor = document.getElementById('update-actor');
    var update_director = document.getElementById('update-director');
    var add_review = document.getElementById('add-review');


    var reviews = document.getElementById('reviews');


    index = 0;

    for (i = 0; i < actors.length; i++) {

        actors[i].style.display = "flex";

        actors[i].style.animation = "slide-in-anim " + (0.5 + index) + "s ease-out forwards";

        index = index + 0.3;
    }


    dir.addEventListener('click', () => {



        director.style.display = "flex";
        director.style.animation = "slide-in-anim 0.7s ease-out forwards";
        cast.style.justifyContent = "center";
        dir.style.borderBottom =" 5px solid green";
        update_director.style.display="block";

        reviews.style.display = "none";



        update_actor.style.display="none";
        add_review.style.display="none";


        act.style.borderBottom =" none";
        rev.style.borderBottom =" none";


        for (i = 0; i < actors.length; i++) {
            actors[i].style.display = "none";


        }

    });

    act.addEventListener('click', () => {

        index = 0;

        director.style.display = "none";
        rev.style.borderBottom =" none";
        dir.style.borderBottom =" none";
        reviews.style.display = "none";
        update_director.style.display="none";
        add_review.style.display="none";


        act.style.borderBottom =" 5px solid green";

        update_actor.style.display="block";


        for (i = 0; i < actors.length; i++) {
            actors[i].style.display = "flex";

            actors[i].style.animation = "slide-in-anim " + (0.5 +index) + "s ease-out forwards";
            cast.style.justifyContent = "flex-start";

            index = index + 0.3;



        }
    });


    rev.addEventListener('click', () => {


        add_review.style.display="block";
        rev.style.borderBottom =" 5px solid green";
        dir.style.borderBottom =" none";
        act.style.borderBottom =" none";
        update_director.style.display="none";
        update_actor.style.display="none";

        reviews.style.display = "flex";



        director.style.display = "none";

        for (i = 0; i < actors.length; i++) {
            actors[i].style.display = "none";


        }
    });


</script>
<script>

    // script for the rating stars

</script>

</body>
</html>