<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>SiwMovieVendettaHZ</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/registrationSuccessful.css}" />
	<link rel="stylesheet" th:href="@{/css/button.css}" />
</head>
<body>

<div id="errors" >

	<div th:replace="admin/formNewMovie.html :: imageError"></div>


	<script th:src="@{/javascript/errorLogs.js}"></script>
</div>


<i class="fa fa-check" id="check"></i>
<form id="successful"  th:action="@{'/addUserPicture' + '/' + ${user.id}}"
	    method="post"
	  enctype="multipart/form-data">
	<h1>Add a picture to your account</h1>
	<input id="file" type="file" name="image" accept="image/png, image/jpeg" />
	<label>
		<i class="fa fa-plus" id="plus"></i>
		<i class="fa fa-user" id="user"></i>
	</label>
	<img id="thumbnail" alt="preview"/>

	<button id="continue">continue</button>
</form>
<script>
	document.getElementById('plus').addEventListener('click', function() {
		document.getElementById('file').click();
	});
</script>
<script>

	var userIcon = document.getElementById('user');
	var plusIcon = document.getElementById('plus');
	var thumbnail = document.getElementById('thumbnail');

	$(document).ready(function(){
		$('#file').change(function(){
			showImageThumbnail(this);
		});

	});

	function  showImageThumbnail(fileInput){

		thumbnail.style.display = "block";


		plusIcon.style.right = "36%";



		file = fileInput.files[0];
		reader = new FileReader();

		reader.onload = function(e){
			$('#thumbnail').attr('src', e.target.result);
		};

		reader.readAsDataURL(file);

		userIcon.style.display = "none";

	}


</script>
</body>
</html>