<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" th:href="@{/css/review.css}" />
  <link rel="stylesheet" th:href="@{/css/home.css}" />
  <link rel="stylesheet" th:href="@{/css/animation.css}" />
  <link rel="stylesheet" th:href="@{/css/deleted-warn.css}" />

  <title>SiwMovieVendettaHZ</title>
</head>
<body>
<div th:replace="artist.html :: homeButton"></div>

<div th:if="${reviews==null || reviews.isEmpty()}" style="position: absolute; top:45%;  font-size:4em; color: #fff; font-weight:bold; text-shadow: 1px 2px 4px grey">
  No Reviews</div>

<div id="reviews">
  <div id="review" th:each="review: ${reviews}">

    <div class="rating" >

      <div class="top-section">
        <img th:src="@{'/display/image/' + ${review.author.picture.id}}"/>
        <h1 class="author" th:text="${review.author.userName}">Haowen Zheng</h1>
        <div class="stars" th:value="${review.rating}">
          <div th:style="${review.rating >= 1} ? 'color:gold': 'color:#fff'" class="star"></div>

          <div th:style="${review.rating >= 2} ? 'color:gold': 'color:#fff'" class="star"></div>

          <div th:style="${review.rating >= 3} ? 'color:gold': 'color:#fff'" class="star"></div>

          <div th:style="${review.rating >= 4} ? 'color:gold': 'color:#fff'" class="star"></div>

          <div th:style="${review.rating >= 5} ? 'color:gold': 'color:#fff'" class="star"></div>


        </div>


      </div>
      <h1 class="review-title" th:text="${review.title}">Top</h1>

      <div class="comment" th:text="${review.comment}">
        Il film è bellissimo!
      </div>

    </div>
    <a id="movie-reviewed" th:href="'/movie' + '/' +  ${review.reviewedMovie.id}"><img th:src="@{'/display/image/' + ${review.reviewedMovie.poster.id}}"/></a>
    <a id="remove-review" th:href="'/deleteReview' + '/' +  ${review.id}">delete</a>
  </div>


</div>


<!---pop up for deleting review---->
<div id="event-warn" th:if="${reviewDeleted}">
  The review has been successfully deleted

  <script th:src="@{/javascript/warnings.js}"></script>
</div>
<!-------->

</body>
</html>